---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Title from "../components/Title.astro";
import __, {langFrom} from '../lib/lang';

const {
    frontmatter: data = {},
    lang = data.lang || langFrom(Astro.url),
    title = data.title || 'FamilyMarkup',
    description = data.description || '',
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
<head>
    <BaseHead
        title={__(lang, title)}
        description={description}
    />

    <slot name="head"/>
</head>

<body>

<Title
    lang={lang}
    title={title}
/>

<main>
    <article>
        <slot/>
    </article>
</main>

<Footer/>

</body>
</html>
